/* Reset styles */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header styles */
.header {
  background-color: #000000;
  padding: 10px 20px;
  
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: space-between; /* Space between left and right groups */
  align-items: center;
}

/* Navigation list container */
.nav-list {
  display: flex;
  width: 100%;
  justify-content: space-between; /* Separate left and right nav groups */
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Left navigation group */
.left-nav {
  display: flex;
  gap: 20px; /* Space between left items */
}

/* Right navigation group */
.right-nav {
  display: flex;
  gap: 20px; /* Space between right items */
}

/* Link styles */
.nav-list a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 5px;
}

.nav-list a:hover {
  background-color: #555;
}

